CompileFlags:
  # Treat code as C++, use C++17 standard, enable more warnings.
  Add:
    [
      -std=c++20,
      -D__cpp_consteval=201811,
      -D__cpp_lib_ranges_to_container=202202,
    ]
    #-include=/headers/file.h, -I/other/headers]
  # Remove extra warnings specified in compile commands.
  # Single value is also acceptable, same as Remove: [-mabi]
  # Remove: [-Wno-c++98-compat, -mabi]
# Diagnostics:
# Suppress: [-Wc++98-compat, -Wc++98-compat-pedantic]
# Tweak Clang-Tidy checks.
# ClangTidy:
#   Add:
#     [
#       bugprone-*,
#       performance*,
#       modernize*,
#       readability*,
#       misc-*,
#       portability-*,
#       clang-analyzer-*,
#     ]
#   Remove: [modernize-use-trailing-return-type]
#   CheckOptions:
#     readability-identifier-naming.VariableCase: CamelCase
# ---
# Use Remote Index Service for LLVM.
# If:
# Note: This is a regexp, notice '.*' at the end of PathMatch string.
# PathMatch: /path/to/llvm/.*
# Index:
#   External:
#     Server: clangd-index.llvm.org:5900
#     MountPoint: /path/to/llvm/
# ---
